.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vs/BookStoreFrontend/FileContentIndex/261a50c9-04ce-4c58-96a5-232f13f6903f.vsidx
/.vs/BookStoreFrontend/FileContentIndex/6fff2561-7019-4217-8d1f-602e2813397c.vsidx
/.vs/BookStoreFrontend/FileContentIndex/757f7f93-4723-46ce-bf19-6b2faaf65544.vsidx
/.vs/BookStoreFrontend/FileContentIndex/9cd3b59e-b41e-42e3-8780-ea4068dee0d5.vsidx
/.vs/BookStoreFrontend/FileContentIndex/b4decd9c-b96a-462f-b0bd-d2b1c761d3de.vsidx
/.vs/BookStoreFrontend/FileContentIndex/c664a054-0a9f-4064-a552-54c6293b26e9.vsidx
/.vs/BookStoreFrontend/FileContentIndex/8a4ec33c-404c-4c90-8e26-0fbd82bbbabc.vsidx
/.vs/BookStoreFrontend/FileContentIndex/e4028427-e75e-42ab-9ef6-b22551b5622a.vsidx
/.vs/BookStoreFrontend/FileContentIndex/21f71363-8652-4b0a-9c5f-12b2d0aed6ef.vsidx
/.vs/BookStoreFrontend/FileContentIndex/9862cc0a-50b7-4ed5-8331-693316999cd9.vsidx
/.vs/BookStoreFrontend/FileContentIndex/b7ff7b54-2af8-4a2d-be42-3ed90da323a8.vsidx
/.vs/BookStoreFrontend/FileContentIndex
/.vs/slnx.sqlite
